.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.leftColumn{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.rightColumn{
    display: flex;
    flex-direction: column;
    width: 30%;
}